.core-stage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.game-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 84px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.element-heart img,
.element-item img,
.element-bomb img {
  width: 84px;
  height: 84px;
  object-fit: contain;
}

.game-particle {
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events: none;
}
